demos/*/tools/fceux/*
!demos/*/tools/fceux/README.md
demos/*/tools/nessc/*
!demos/*/tools/nessc/README.md
demos/*/tools/nintendulatordx/*
!demos/*/tools/nintendulatordx/README.md
demos/*/tools/readnes3/*
!demos/*/tools/readnes3/README.md
demos/*/tools/cc65/*
!demos/*/tools/cc65/README.md
demos/*/hello.s
demos/*/browser.s
demos/*/echo.s
demos/*/world.s
demos/*/graphics/processed/*
!demos/*/graphics/processed/empty

photon-firmware/bin
!photon-firmware/bin/empty
*.o
*.nes
.vscode
node_modules